/* media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320.98px) and (orientation: portrait) {
    .hero__wrap{
        height: 100vh;
        text-align: center;
    }
    .hero__title{
        font-size: 1.8rem;
    }
    .hero__text{
        font-size: 1rem;
    }
    .hero__img{
        width: 304px;
        height: 157px;
    }
    .hero__icon--list{
        width: 100%;
        text-align: center;
    }
    .hero__icon--item{
        margin-right: 5px;
    }
    /* header */
    .header__nav{
        width: 95%;
    }
    .header__nav--list{
        display: none;
    }
    .header__mobile--btn{
        display: block;
    }
    .mobile__nav--sidebar{
        width: 75%;
    }
    .mobile__nav--close{
        right: 10px;
        top: 5px;
    }
    /* intro */
    .intro__wrap--two{
        height: 200vh;
    }
    .intro__col--wrap{
        flex-direction: column;
        height: 90%;
        width: 95%;
    }
     /* about */
    .about{
        height: 225vh;
        flex-direction: column;
        padding-bottom: 100px;
    }
    .about__col--one{
        justify-content: center;
    }
    .about__col--two{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        padding-left: 25px;
        padding-top: 35px;
        width: 90%;
    }
    .about__text--wrap{
        padding-top: 50px;
        color: whitesmoke;
        height: 100%;
        width: 100%;
    }
    /* features */
    .features{
        height: 225vh;
    }
    .features__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    /* gallery */
    #gal-1,
    #gal-2,
    #gal-3{
        display: none;
    }
    .gallery{
        height: 120vh;
    }
    .gallery__col--wrap{
        justify-content: center;
        height: 90%;
        width: 95%;
    }
    .gallery__col{
        height: 100%;
        width: 90%;
        margin: 0px;
    }
    /* modal video */
    .modal__video--wrap{
        height: 40%;
        width: 100%;
    }
    /* team */
    .team{
        height: 195vh;
    }
    .team__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    .team__col--one,
    .team__col--two,
    .team__col--three,
    .team__col--four{
        flex: 1;
        height: 100%;
        margin: 15px;
        position: relative;
        overflow: hidden;
        width: 90%;
    }
    /* testimonial */
    #demo{
        height: 95vh;
    }
    .tes__title{
        font-size: 1.8rem;
    }
    .tes__text--long{
        color: #505050;
        font-size: .65rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 2;
    }
    .tes__icon{
        color: #71c55d;
        font-size: 4.2rem;
        right: 5%;
        position: absolute;
        top: 2%;
        z-index: 10;
    }
    .carousel-inner {
        height: 85%;
        width: 90%;
        padding: 10px;
    }
    /* price */
    .price{
        height: 400vh;
        width: 100%;
    }
    .price__col--wrap{
        flex-direction: column;
        height: 95%;
        width: 90%;
    }
    .price__col--one,
    .price__col--two,
    .price__col--three{
        width: 100%;
    }
    /* latest */
    .latest{
        height: 200vh;
    }
    .latest__text{
        font-size: .85rem;
    }
    .latest__col--wrap{
        flex-direction: column;
        width: 95%;
    }
    .latest__details--wrap{
        margin-top: 10px;
    }
    .latest__col--one,
    .latest__col--two,
    .latest__col--three{
        width: 90%;
    }
    /* newsletter */
    .newsletter{
        height: 50vh;
        text-align: center;
    }
    .newsletter__form{
        width: 90%;
    }
    .newsletter__input{
        width: 100%;
    }
    .newsletter__btn{
        margin-top: 25px;
        width: 100%;
    }
    .newsletter__icon--list{
        width: 100%;
    }
    /* contact */
    .contact{
        flex-direction: column;
        height: 125vh;
    }
    .contact__col--one{
        height: 50%;
        width: 90%;
        margin-top: 50px;
    }
    .contact__details--wrap{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contact__icon--list{
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
    }
    .contact__col--two{
        height: 50%;
        width: 90%;
        margin-bottom: 50px;
    }
    .contact__btn{
        width: 50%;
        font-size: .85rem;
    }
    /* sub footer */
    .subfooter{
        height: 150vh;
    }
    .subfooter__wrap{
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
    }
    .subfooter__col--lg{
        width: 90%;
    }
    .subfooter__col--sm{
        padding-top: 00px;
        width: 90%;
    }
    .subfooter__item--list{
        width: 100%;
        text-align: left;
        margin-top: 15px;
    }
    .subfooter__text--long{
        color: #fff;
        font-size: .70rem;
        font-weight: 300;
        font-family: 'open sans';
        letter-spacing: 1px;
    }
}

@media (min-width: 321px) and (max-width: 374.98px) and (orientation: portrait) {
    .hero__wrap{
        height: 100vh;
        text-align: center;
    }
    .hero__title{
        font-size: 1.8rem;
    }
    .hero__text{
        font-size: 1rem;
    }
    .hero__img{
        width: 359px;
        height: 186px;
    }
    .hero__icon--list{
        width: 100%;
        text-align: center;
    }
    .hero__icon--item{
        margin-right: 5px;
    }
    /* header */
    .header__nav{
        width: 95%;
    }
    .header__nav--list{
        display: none;
    }
    .header__mobile--btn{
        display: block;
    }
    .mobile__nav--sidebar{
        width: 75%;
    }
    .mobile__nav--close{
        right: 10px;
        top: 5px;
    }
    /* intro */
    .intro__wrap--two{
        height: 160vh;
    }
    .intro__col--wrap{
        flex-direction: column;
        height: 90%;
        width: 95%;
    }
     /* about */
    .about{
        height: 175vh;
        flex-direction: column;
        padding-bottom: 100px;
    }
    .about__col--one{
        justify-content: center;
    }
    .about__col--two{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        padding-left: 25px;
        padding-top: 35px;
        width: 90%;
    }
    .about__text--wrap{
        padding-top: 50px;
        color: whitesmoke;
        height: 100%;
        width: 100%;
    }
    /* features */
    .features{
        height: 175vh;
    }
    .features__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    /* gallery */
    #gal-1,
    #gal-2,
    #gal-3{
        display: none;
    }
    .gallery{
        height: 100vh;
    }
    .gallery__col--wrap{
        justify-content: center;
        height: 90%;
        width: 95%;
    }
    .gallery__col{
        height: 100%;
        width: 90%;
        margin: 0px;
    }
    /* modal video */
    .modal__video--wrap{
        height: 40%;
        width: 100%;
    }
    /* team */
    .team{
        height: 195vh;
    }
    .team__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    .team__col--one,
    .team__col--two,
    .team__col--three,
    .team__col--four{
        flex: 1;
        height: 100%;
        margin: 15px;
        position: relative;
        overflow: hidden;
        width: 90%;
    }
    /* testimonial */
    #demo{
        height: 95vh;
    }
    .tes__title{
        font-size: 2rem;
    }
    .tes__text--long{
        color: #505050;
        font-size: .75rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 2;
    }
    .tes__icon{
        color: #71c55d;
        font-size: 4.2rem;
        right: 5%;
        position: absolute;
        top: 2%;
        z-index: 10;
    }
    .carousel-inner {
        height: 85%;
        width: 90%;
        padding: 10px;
    }
    /* price */
    .price{
        height: 400vh;
        width: 100%;
    }
    .price__col--wrap{
        flex-direction: column;
        height: 95%;
        width: 90%;
    }
    .price__col--one,
    .price__col--two,
    .price__col--three{
        width: 100%;
    }
    /* latest */
    .latest{
        height: 150vh;
    }
    .latest__text{
        font-size: .85rem;
    }
    .latest__col--wrap{
        flex-direction: column;
        width: 95%;
    }
    .latest__details--wrap{
        margin-top: 10px;
    }
    .latest__col--one,
    .latest__col--two,
    .latest__col--three{
        width: 90%;
    }
    /* newsletter */
    .newsletter{
        height: 50vh;
        text-align: center;
    }
    .newsletter__form{
        width: 90%;
    }
    .newsletter__input{
        width: 100%;
    }
    .newsletter__btn{
        margin-top: 25px;
        width: 100%;
    }
    .newsletter__icon--list{
        width: 100%;
    }
    /* contact */
    .contact{
        flex-direction: column;
        height: 100vh;
    }
    .contact__col--one{
        height: 50%;
        width: 90%;
        margin-top: 50px;
    }
    .contact__details--wrap{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contact__icon--list{
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
    }
    .contact__col--two{
        height: 50%;
        width: 90%;
        margin-bottom: 50px;
    }
    .contact__btn{
        width: 50%;
        font-size: .85rem;
    }
    /* sub footer */
    .subfooter{
        height: 125vh;
    }
    .subfooter__wrap{
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
    }
    .subfooter__col--lg{
        width: 90%;
    }
    .subfooter__col--sm{
        padding-top: 00px;
        width: 90%;
    }
    .subfooter__item--list{
        width: 100%;
        text-align: left;
        margin-top: 15px;
    }
    .subfooter__text--long{
        color: #fff;
        font-size: .70rem;
        font-weight: 300;
        font-family: 'open sans';
        letter-spacing: 1px;
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .hero__wrap{
        height: 100vh;
        text-align: center;
    }
    .hero__title{
        font-size: 1.8rem;
    }
    .hero__text{
        font-size: 1rem;
    }
    .hero__img{
        width: 359px;
        height: 186px;
    }
    .hero__icon--list{
        width: 100%;
        text-align: center;
    }
    .hero__icon--item{
        margin-right: 5px;
    }
    /* header */
    .header__nav{
        width: 95%;
    }
    .header__nav--list{
        display: none;
    }
    .header__mobile--btn{
        display: block;
    }
    .mobile__nav--sidebar{
        width: 75%;
    }
    .mobile__nav--close{
        right: 12px;
        top: 5px;
    }
    /* intro */
    .intro__wrap--two{
        height: 160vh;
    }
    .intro__col--wrap{
        flex-direction: column;
        height: 90%;
        width: 95%;
    }
     /* about */
    .about{
        height: 175vh;
        flex-direction: column;
        padding-bottom: 100px;
    }
    .about__col--one{
        justify-content: center;
    }
    .about__col--two{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        padding-left: 25px;
        padding-top: 35px;
        width: 90%;
    }
    .about__text--wrap{
        padding-top: 50px;
        color: whitesmoke;
        height: 100%;
        width: 100%;
    }
    /* features */
    .features{
        height: 175vh;
    }
    .features__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    /* gallery */
    #gal-1,
    #gal-2,
    #gal-3{
        display: none;
    }
    .gallery{
        height: 100vh;
    }
    .gallery__col--wrap{
        justify-content: center;
        height: 90%;
        width: 95%;
    }
    .gallery__col{
        height: 100%;
        width: 90%;
        margin: 0px;
    }
    /* modal video */
    .modal__video--wrap{
        height: 40%;
        width: 100%;
    }
    /* team */
    .team{
        height: 195vh;
    }
    .team__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    .team__col--one,
    .team__col--two,
    .team__col--three,
    .team__col--four{
        flex: 1;
        height: 100%;
        margin: 15px;
        position: relative;
        overflow: hidden;
        width: 90%;
    }
    /* testimonial */
    #demo{
        height: 95vh;
    }
    .tes__title{
        font-size: 2.4rem;
    }
    .tes__text--long{
        color: #505050;
        font-size: .79rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 2;
    }
    .tes__icon{
        color: #71c55d;
        font-size: 4.2rem;
        right: 5%;
        position: absolute;
        top: 2%;
        z-index: 10;
    }
    .carousel-inner {
        height: 85%;
        width: 90%;
        padding: 10px;
    }
    /* price */
    .price{
        height: 400vh;
        width: 100%;
    }
    .price__col--wrap{
        flex-direction: column;
        height: 95%;
        width: 90%;
    }
    .price__col--one,
    .price__col--two,
    .price__col--three{
        width: 100%;
    }
    /* latest */
    .latest{
        height: 150vh;
    }
    .latest__text{
        font-size: .85rem;
    }
    .latest__col--wrap{
        flex-direction: column;
        width: 95%;
    }
    .latest__details--wrap{
        margin-top: 10px;
    }
    .latest__col--one,
    .latest__col--two,
    .latest__col--three{
        width: 90%;
    }
    /* newsletter */
    .newsletter{
        height: 50vh;
        text-align: center;
    }
    .newsletter__form{
        width: 90%;
    }
    .newsletter__input{
        width: 100%;
    }
    .newsletter__btn{
        margin-top: 25px;
        width: 100%;
    }
    .newsletter__icon--list{
        width: 100%;
    }
    /* contact */
    .contact{
        flex-direction: column;
        height: 100vh;
    }
    .contact__col--one{
        height: 50%;
        width: 90%;
        margin-top: 50px;
    }
    .contact__details--wrap{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contact__icon--list{
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
    }
    .contact__col--two{
        height: 50%;
        width: 90%;
        margin-bottom: 50px;
    }
    .contact__btn{
        width: 50%;
        font-size: .85rem;
    }
    /* sub footer */
    .subfooter{
        height: 125vh;
    }
    .subfooter__wrap{
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
    }
    .subfooter__col--lg{
        width: 90%;
    }
    .subfooter__col--sm{
        padding-top: 00px;
        width: 90%;
    }
    .subfooter__item--list{
        width: 100%;
        text-align: left;
        margin-top: 15px;
    }
    .subfooter__text--long{
        color: #fff;
        font-size: .70rem;
        font-weight: 300;
        font-family: 'open sans';
        letter-spacing: 1px;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .hero__wrap{
        height: 100vh;
        text-align: center;
    }
    .hero__title{
        font-size: 1.8rem;
    }
    .hero__text{
        font-size: 1rem;
    }
    .hero__img{
        width: 395px;
        height: 204px;
    }
    .hero__icon--list{
        width: 100%;
        text-align: center;
    }
    .hero__icon--item{
        margin-right: 5px;
    }
    /* header */
    .header__nav{
        width: 95%;
    }
    .header__nav--list{
        display: none;
    }
    .header__mobile--btn{
        display: block;
    }
    .mobile__nav--sidebar{
        width: 75%;
    }
    .mobile__nav--close{
        right: 15px;
        top: 5px;
    }
    /* intro */
    .intro__wrap--two{
        height: 160vh;
    }
    .intro__col--wrap{
        flex-direction: column;
        height: 90%;
        width: 95%;
    }
     /* about */
    .about{
        height: 175vh;
        flex-direction: column;
        padding-bottom: 100px;
    }
    .about__col--one{
        justify-content: center;
    }
    .about__col--two{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        padding-left: 25px;
        padding-top: 35px;
        width: 90%;
    }
    .about__text--wrap{
        padding-top: 50px;
        color: whitesmoke;
        height: 100%;
        width: 100%;
    }
    /* features */
    .features{
        height: 175vh;
    }
    .features__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    /* gallery */
    #gal-1,
    #gal-2,
    #gal-3{
        display: none;
    }
    .gallery{
        height: 100vh;
    }
    .gallery__col--wrap{
        justify-content: center;
        height: 90%;
        width: 95%;
    }
    .gallery__col{
        height: 100%;
        width: 90%;
        margin: 0px;
    }
    /* modal video */
    .modal__video--wrap{
        height: 40%;
        width: 100%;
    }
    /* team */
    .team{
        height: 195vh;
    }
    .team__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    .team__col--one,
    .team__col--two,
    .team__col--three,
    .team__col--four{
        flex: 1;
        height: 100%;
        margin: 15px;
        position: relative;
        overflow: hidden;
        width: 90%;
    }
    /* testimonial */
    #demo{
        height: 95vh;
    }
    .tes__text--long{
        color: #505050;
        font-size: .85rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 2;
    }
    .tes__icon{
        color: #71c55d;
        font-size: 4.2rem;
        right: 5%;
        position: absolute;
        top: 2%;
        z-index: 10;
    }
    .carousel-inner {
        height: 85%;
        width: 90%;
        padding: 10px;
    }
    /* price */
    .price{
        height: 400vh;
        width: 100%;
    }
    .price__col--wrap{
        flex-direction: column;
        height: 95%;
        width: 90%;
    }
    .price__col--one,
    .price__col--two,
    .price__col--three{
        width: 100%;
    }
    /* latest */
    .latest{
        height: 150vh;
    }
    .latest__text{
        font-size: .85rem;
    }
    .latest__col--wrap{
        flex-direction: column;
        width: 95%;
    }
    .latest__details--wrap{
        margin-top: 10px;
    }
    .latest__col--one,
    .latest__col--two,
    .latest__col--three{
        width: 90%;
    }
    /* newsletter */
    .newsletter{
        height: 50vh;
        text-align: center;
    }
    .newsletter__form{
        width: 90%;
    }
    .newsletter__input{
        width: 100%;
    }
    .newsletter__btn{
        margin-top: 25px;
        width: 100%;
    }
    /* contact */
    .contact{
        flex-direction: column;
        height: 100vh;
    }
    .contact__col--one{
        height: 50%;
        width: 90%;
        margin-top: 50px;
    }
    .contact__details--wrap{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contact__icon--list{
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
    }
    .contact__col--two{
        height: 50%;
        width: 90%;
        margin-bottom: 50px;
    }
    .contact__btn{
        font-size: .85rem;
    }
    /* sub footer */
    .subfooter{
        height: 125vh;
    }
    .subfooter__wrap{
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
    }
    .subfooter__col--lg{
        width: 90%;
    }
    .subfooter__col--sm{
        padding-top: 00px;
        width: 90%;
    }
    .subfooter__item--list{
        width: 100%;
        text-align: left;
        margin-top: 15px;
    }
    .subfooter__text--long{
        color: #fff;
        font-size: .70rem;
        font-weight: 300;
        font-family: 'open sans';
        letter-spacing: 1px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .hero__wrap{
        height: 100vh;
    }
    .hero__title{
        font-size: 1.8rem;
    }
    .hero__text{
        font-size: 1rem;
    }
    .hero__img{
        width: 547px;
        height: 283px;
    }
    /* header */
    .header__nav{
        width: 95%;
    }
    .header__nav--list{
        display: none;
    }
    .header__mobile--btn{
        display: block;
    }
    .mobile__nav--sidebar{
        width: 50%;
    }
    .mobile__nav--close{
        right: 15px;
        top: 5px;
    }
    /* intro */
    .intro__wrap--two{
        height: 160vh;
    }
    .intro__col--wrap{
        flex-direction: column;
        height: 90%;
        width: 95%;
    }
     /* about */
    .about{
        height: 165vh;
        flex-direction: column;
    }
    .about__col--two{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        padding-left: 25px;
        padding-top: 35px;
        width: 90%;
    }
    .about__text--wrap{
        padding-top: 50px;
        color: whitesmoke;
        height: 100%;
        width: 100%;
    }
    /* features */
    .features{
        height: 175vh;
    }
    .features__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    /* gallery */
    #gal-1,
    #gal-2{
        display: none;
    }
    .gallery{
        height: 85vh;
    }
    .gallery__col--wrap{
        width: 95%;
    }
    .gallery__col{
        height: 100%;
        width: 50%;
        margin: 15px;
    }
    /* modal video */
    .modal__video--wrap{
        height: 50%;
        width: 100%;
    }
    /* team */
    .team{
        height: 195vh;
    }
    .team__col--wrap{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    .team__col--one,
    .team__col--two,
    .team__col--three,
    .team__col--four{
        flex: 1;
        height: 100%;
        margin: 15px;
        position: relative;
        overflow: hidden;
        width: 90%;
    }
    /* testimonial */
    #demo{
        height: 95vh;
    }
    .tes__text--long{
        color: #505050;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 2;
    }
    .tes__icon{
        color: #71c55d;
        font-size: 4.2rem;
        right: 5%;
        position: absolute;
        top: 2%;
        z-index: 10;
    }
    .carousel-inner {
        height: 85%;
        width: 90%;
        padding: 10px;
    }
    /* price */
    .price{
        height: 400vh;
        width: 100%;
    }
    .price__col--wrap{
        flex-direction: column;
        height: 95%;
        width: 90%;
    }
    .price__col--one,
    .price__col--two,
    .price__col--three{
        width: 100%;
    }
    /* latest */
    .latest{
        height: 150vh;
    }
    .latest__text{
        font-size: .85rem;
    }
    .latest__col--wrap{
        flex-direction: column;
        width: 95%;
    }
    .latest__details--wrap{
        margin-top: 10px;
    }
    .latest__col--one,
    .latest__col--two,
    .latest__col--three{
        width: 90%;
    }
    /* newsletter */
    .newsletter{
        height: 40vh;
    }
    .newsletter__input{
        width: 310px;
    }
    /* contact */
    .contact{
        flex-direction: column;
        height: 100vh;
    }
    .contact__col--one{
        height: 50%;
        width: 90%;
        margin-top: 50px;
    }
    .contact__details--wrap{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contact__icon--list{
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
    }
    .contact__col--two{
        height: 50%;
        width: 90%;
        margin-bottom: 50px;
    }
    .contact__btn{
        font-size: .85rem;
    }
    /* sub footer */
    .subfooter{
        height: 125vh;
    }
    .subfooter__wrap{
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
    }
    .subfooter__col--lg{
        width: 90%;
    }
    .subfooter__col--sm{
        padding-top: 00px;
        width: 90%;
    }
    .subfooter__item--list{
        width: 100%;
        text-align: left;
        margin-top: 15px;
    }
    .subfooter__text--long{
        color: #fff;
        font-size: .70rem;
        font-weight: 300;
        font-family: 'open sans';
        letter-spacing: 1px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hero__wrap{
        height: 110vh;
    }
    /* header */
    .header__nav{
        width: 95%;
    }
    .header__nav--list{
        display: none;
    }
    .header__mobile--btn{
        display: block;
    }
    /* intro */
    .intro__wrap--two{
        height: 70vh;
    }
    .intro__col--wrap{
        width: 95%;
    }
     /* about */
    .about__text--wrap{
        padding-top: 25px;
    }
    /* features */
    .features{
        height: 50vh;
    }
    .features__col--wrap{
        width: 95%;
    }
    /* gallery */
    #gal-1{
        display: none;
    }
    .gallery{
        height: 75vh;
    }
    .gallery__col--wrap{
        width: 95%;
    }
    .gallery__col{
        height: 100%;
        width: 35%;
        margin: 15px;
    }

    /* team */
    .team__col--wrap{
        height: 60%;
        width: 95%;
    }
    /* testimonial */
    #demo{
        height: 75vh;
    }
    .tes__text--long{
        color: #505050;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 2;
    }
    .tes__icon{
        color: #71c55d;
        font-size: 4.2rem;
        right: 20%;
        position: absolute;
        top: -4%;
        z-index: 10;
    }
    .carousel-inner {
        height: 95%;
        width: 60%;
        padding: 10px;
    }
    /* price */
    .price{
        height: 90vh;
        width: 100%;
    }
    .price__col--wrap{
        height: 95%;
        width: 100%;
    }
    .price__btn{
        padding: 6px 12px;
    }
    /* latest */
    .latest{
        height: 85vh;
    }
    .latest__text{
        font-size: .85rem;
    }
    .latest__col--wrap{
        width: 95%;
    }
    .latest__details--wrap{
        margin-top: 10px;
    }
    /* newsletter */
    .newsletter{
        height: 40vh;
    }
    .newsletter__input{
        width: 310px;
    }
    /* contact */
    .contact__col--one{
        width: 40%;
    }
    .contact__col--two{
        width: 50%;
    }
    .contact__btn{
        font-size: .85rem;
    }
    /* sub footer */
    .subfooter{
        height: 40vh;
    }
    .subfooter__wrap{
        width: 95%;
    }
    .subfooter__text--long{
        color: #fff;
        font-size: .70rem;
        font-weight: 300;
        font-family: 'open sans';
        letter-spacing: 1px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1025.98px) {
    .hero__wrap{
        height: 110vh;
    }
    /* header */
    .header__nav{
        width: 95%;
    }
    .header__nav--list{
        display: none;
    }
    .header__mobile--btn{
        display: block;
    }
    /* intro */
    .intro__wrap--two{
        height: 60vh;
    }
    .intro__col--wrap{
        width: 95%;
    }
     /* about */
    .about__text--wrap{
        padding-top: 25px;
    }
    /* features */
    .features{
        height: 50vh;
    }
    .features__col--wrap{
        width: 95%;
    }
    /* gallery */
    .gallery__col--wrap{
        width: 95%;
    }
    /* team */
    .team__col--wrap{
        height: 60%;
        width: 95%;
    }
    /* testimonial */
    .tes__icon{
        color: #71c55d;
        font-size: 4.2rem;
        right: 15%;
        position: absolute;
        top: 5%;
        z-index: 10;
    }
    .carousel-inner {
        width: 70%;
    }
    /* price */
    .price{
        height: 80vh;
        width: 100%;
    }
    .price__col--wrap{
        height: 95%;
        width: 95%;
    }
    /* latest */
    .latest{
        height: 75vh;
    }
    .latest__col--wrap{
        width: 95%;
    }
    /* newsletter */
    .newsletter{
        height: 40vh;
    }
    .newsletter__input{
        width: 310px;
    }
    /* contact */
    .contact__col--one{
        width: 30%;
    }
    .contact__col--two{
        width: 40%;
    }
    .contact__btn{
        font-size: .85rem;
    }
    /* sub footer */
    .subfooter{
        height: 40vh;
    }
    .subfooter__wrap{
        width: 95%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1026px) and (max-width: 1199.98px) {
    .hero__wrap{
        height: 110vh;
    }
    /* header */
    .header__nav{
        width: 95%;
    }
    /* intro */
    .intro__wrap--two{
        height: 60vh;
    }
    .intro__col--wrap{
        width: 95%;
    }
     /* about */
    .about__text--wrap{
        padding-top: 50px;
    }
    /* features */
    .features{
        height: 50vh;
    }
    .features__col--wrap{
        width: 95%;
    }
    /* gallery */
    .gallery__col--wrap{
        width: 95%;
    }
    /* team */
    .team__col--wrap{
        height: 60%;
        width: 95%;
    }
    /* testimonial */
    .tes__icon{
        color: #71c55d;
        font-size: 4.2rem;
        right: 15%;
        position: absolute;
        top: 5%;
        z-index: 10;
    }
    .carousel-inner {
        width: 70%;
    }
    /* price */
    .price{
        height: 80vh;
        width: 100%;
    }
    .price__col--wrap{
        height: 95%;
        width: 95%;
    }
    /* latest */
    .latest{
        height: 75vh;
    }
    .latest__col--wrap{
        width: 95%;
    }
    /* newsletter */
    .newsletter{
        height: 40vh;
    }
    .newsletter__input{
        width: 310px;
    }
    /* contact */
    .contact__col--one{
        width: 30%;
    }
    .contact__col--two{
        width: 40%;
    }
    .contact__btn{
        font-size: .85rem;
    }
    /* sub footer */
    .subfooter{
        height: 40vh;
    }
    .subfooter__wrap{
        width: 95%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}